<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Demo Bundle{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
            google.charts.load('current', {packages:["corechart", 'table', 'treemap', 'gauge']});
        </script>
    </head>
    <body>
            
            <header>
                <h1>GChartBundle Demo</h1>
            </header>

            {% for msg in app.session.flashbag.get('notice') %}
                <div class="flash-message">
                    <em>Notice</em>: {{ msg }}
                </div>
            {% endfor %}

            

            <div class="symfony-content">
                {% block content %}
                {% endblock %}
            </div>
    </body>
</html>
